* {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	transform: translate(-50%, -50%);
	transform: scale(1.5);
	top: 20%;
	left: 40%;
}

.phone-container {
	position: absolute;
	background-color: #000;
	color: #fff;
	width: 255px;
	top: 90px;
	height: 478px;
	border-radius: 30px;
	padding: 5px;
}

.number-container {
	display: grid;
	grid-template-columns: repeat(4, 50px);
	grid-template-rows: repeat(5, 50px);
	position: relative;
	top: 180px;
	left: 10px;
	gap: 10px;
}

.number {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 1.5rem;
	font-weight: 600;
	background-color: #575757;
	cursor: pointer;
}
.number:hover {
	opacity: 0.8;
}

.number17 {
	grid-column: 1 / span 2;
	border-radius: 55px;
}
/* -------------------------------------------- operators -------------------------------------------- */

.number1,
.number2,
.number3 {
	background-color: #a5a5a5;
	color: black;
}

.number4,
.number8,
.number12,
.number16,
.number19 {
	background-color: #ff9f0a;
}

.result1 {
	background-color: transparent;
	color: lime;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: right;
	align-items: end;
	/* margin: 0 auto 20px; */
	position: absolute;
	z-index: 999;
	top: 150px;
	right: 80px;
	width: 220px;
	height:100px;
	/* border: 2px solid red; */
}
.result1 input {
	border: 2px solid yellow;
	/* border: none; */
	outline: none;
	background: transparent;
	color: lime;
	width: 90%;
	height: 50px;
	font-size: 2rem;
	text-align: right;
}

#previous {
	border: 2px solid blue;
	width: 45%;
	font-size: 1rem;
}

.number-container {
	user-select: none; /* Bu, metin seçimini engeller */
}